# Ignore the environment file because sensitive info
.env

# Ignore the node_modules dir, because package.json should list all modules anyway
node_modules

.eslintrc.json

# A script to delete all rows from all tables, while keeping the structure,
# used for testing.
flush.js
# Stores a backup of the database, created by the flush.js script
backups